.scrollbar-style1::-webkit-scrollbar
{
    width: 12px;
    background-color: #f5f5f5;
}

.scrollbar-style1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #555;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
.scrollbar-style1::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.scrollbar-style2::-webkit-scrollbar-track-piece
{
    border-radius: 0;
    background-color: #fff;
}

.scrollbar-style2::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
}

.scrollbar-style2::-webkit-scrollbar-thumb
{
    height: 50px;
    border: 2px solid #fff;
    border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    background-color: #999;
}

.scrollbar-style2::-webkit-scrollbar-thumb:hover
{
    height: 50px;
    border-radius: 4px;
    background-color: #9f9f9f;
}

.scrollbar-style3::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}

.scrollbar-style3::-webkit-scrollbar-track-piece
{
    border-radius: 6px;
    background-color: #ccc;
}

.scrollbar-style3::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    border-radius: 6px;
    background-color: #999;
}

.scrollbar-style3::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    border-radius: 6px;
    background-color: #ccc;
}

.scrollbar-style4::-webkit-scrollbar
{
    width: 12px;
    background-color: #f5f5f5;
}

.scrollbar-style4::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #009688;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.scrollbar-style4::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.scrollbar-style5::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    background: white;
}

.scrollbar-style5::-webkit-scrollbar-thumb
{
    height: 50px;
    background: #333;
}

.scrollbar-style5::-webkit-scrollbar-thumb:hover
{
    background-color: black;
}

.scrollbar-style6::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: white;
}

.scrollbar-style6::-webkit-scrollbar-track
{
    background-color: white;
}

.scrollbar-style6::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: hsl(34, 53%, 82%);
    background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, .5) 5px, hsla(197, 62%, 11%, .5) 10px, hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, .5) 35px, hsla(5, 53%, 63%, .5) 40px, hsla(197, 62%, 11%, .5) 40px, hsla(197, 62%, 11%, .5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px, hsla(5, 53%, 63%, .5) 60px, hsla(5, 53%, 63%, .5) 70px, hsla(35, 91%, 65%, .5) 70px, hsla(35, 91%, 65%, .5) 80px, hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, .5) 90px, hsla(5, 53%, 63%, .5) 110px, hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, .5) 120px, hsla(197, 62%, 11%, .5) 140px), repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, .5) 5px, hsla(197, 62%, 11%, .5) 10px, hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, .5) 35px, hsla(5, 53%, 63%, .5) 40px, hsla(197, 62%, 11%, .5) 40px, hsla(197, 62%, 11%, .5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px, hsla(5, 53%, 63%, .5) 60px, hsla(5, 53%, 63%, .5) 70px, hsla(35, 91%, 65%, .5) 70px, hsla(35, 91%, 65%, .5) 80px, hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, .5) 90px, hsla(5, 53%, 63%, .5) 110px, hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, .5) 140px, hsla(197, 62%, 11%, .5) 160px);
}

.scrollbar-style7::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: white;
}

.scrollbar-style7::-webkit-scrollbar-track
{
    background-color: white;
}

.scrollbar-style7::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #8bc34a;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

.scrollbar-style8::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.scrollbar-style8::-webkit-scrollbar
{
    width: 10px;
    background-color: #f5f5f5;
}

.scrollbar-style8::-webkit-scrollbar-thumb
{
    background-color: #ff9800;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

.scrollbar-style9::-webkit-scrollbar
{
    width: 10px;
    background-color: #f5f5f5;
}

.scrollbar-style9::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.44, #f06292), color-stop(.72, #ec407a), color-stop(.86, #e91e63));
}

.scrollbar-style9::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.scrollbar-style10::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-style10::-webkit-scrollbar-thumb
{
    width: 10px;
    background-color: #666;
}

.scrollbar-style10::-webkit-scrollbar-track
{
    background-color: #1d1f20;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.scrollbar-style11::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-style11::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.scrollbar-style11::-webkit-scrollbar-thumb
{
    background-color: #673ab7;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

.scrollbar-style12::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-style12::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
}

.scrollbar-style12::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-image: -webkit-gradient(linear, right top, right bottom, color-stop(.2, #ff9800), color-stop(.5, #ffc107), color-stop(.8, #ffeb3b));
}

.scrollbar-style13::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-style13::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
}

.scrollbar-style13::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: linear-gradient(to bottom, red, red 14.3%, orange 28.6%, yellow 42.9%, green 57.2%, blue 71.5%, indigo 85.8%, violet);
    box-shadow: inset 0 0 2px 2px white;
}

.scrollbar-style14::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-style14::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
}

.scrollbar-style14::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: linear-gradient(to bottom, yellow, deeppink, #069);
    box-shadow: inset 1px 1px 1px 1px white;
}

.scrollbar-style15::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-style15::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
}

.scrollbar-style15::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: hsl(2, 57%, 40%);
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px), repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px), repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0, 0, 0, .2) 2px, rgba(0, 0, 0, .2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, .2) 5px);
}

.scrollbar-style16::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-style16::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
}

.scrollbar-style16::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: repeating-linear-gradient(235deg, #80deea, #00bcd4 20%);
}

.scrollbar-style17::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-style17::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
}

.scrollbar-style17::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: linear-gradient(135deg, #fafafa 25%, transparent 25%) -50px 0, linear-gradient(225deg, #fafafa 25%, transparent 25%) -50px 0, linear-gradient(315deg, #fafafa 25%, transparent 25%), linear-gradient(45deg, #fafafa 25%, transparent 25%);
    background-color: #ec173a;
    background-size: 100px 100px;
}

.scrollbar-style18::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-style18::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
}

.scrollbar-style18::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187, 0, 51, 0) 27%), radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187, 0, 51, 0) 27%), radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221, 51, 85, 0) 46%), radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221, 51, 85, 0) 46%), radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221, 51, 85, 0) 31%), radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187, 0, 51, 0) 27%) 50px 50px, radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187, 0, 51, 0) 27%) 50px 50px, radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221, 51, 85, 0) 46%) 50px 50px, radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221, 51, 85, 0) 46%) 50px 50px, radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221, 51, 85, 0) 31%) 50px 50px;
    background-color: #b03;
    background-size: 20px 20px;
}

.scrollbar-style19::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-style19::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
}

.scrollbar-style19::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #6d695c;
    background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), repeating-linear-gradient(60deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), linear-gradient(60deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), linear-gradient(120deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
    background-size: 14px 24px;
}

.scrollbar-style20::-webkit-scrollbar
{
    width: 10px;
}

.scrollbar-style20::-webkit-scrollbar-track
{
    background-color: #f5f5f5;
}

.scrollbar-style20::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background: linear-gradient(#fff 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #fff 53%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #fff 50%, rgba(255, 255, 255, 0) 0) 55px 0 #48b;
    background-repeat: repeat-x;
    background-size: 110px 200px;
}
